/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes arrow {
  from {
    left: -16px;
  }
  to {
    left: -12px;
  }
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes opacity-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*для сердца*/

.like-icon.is-liked .sparks {
  animation: opacity-sparks 0.3s 0.3s ease-in 2 alternate;
}

.sparks {
  opacity: 0;
  fill: var(--hearth-color);
}

.hidden {
  opacity: 0;
}

.core {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s, fill 0.3s;
}

.main-body {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity 0.3s 0.05s, fill 0.3s 0.05s;
}

.like-icon {
  cursor: pointer;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s 2 alternate;
}

.contour {
  fill: var(--hearth-contour);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--hearth-color);
  opacity: 1;
}

.like-icon:hover .core {
  opacity: 1;
}

.like-icon:hover .main-body {
  opacity: 1;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--hearth-color);
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--hearth-color);
}

.change-color {
  fill: var(--contour-color);
}
